{% extends "main_g/inv_list.html" %}
{% block title %} Sales Record {% endblock %}
<body>
{% block content %}
<h1>Sales Records</h1>


<table border="1" style="width: 600px; border-collapse: collapse;">
  <thead>
    <tr>
      <th>Period</th>
      <th>Total Sales (₦)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Today</td>
      <td>{{ totals.today|floatformat:2 }}</td>
    </tr>
    <tr>
      <td>This Week</td>
      <td>{{ totals.week|floatformat:2 }}</td>
    </tr>
    <tr>
      <td>This Month</td>
      <td>{{ totals.month|floatformat:2 }}</td>
    </tr>
  </tbody>
</table>
<a href="{% url 'export_sales' 'day' %}">Export Today's Sales</a>
<br>
<a href="{% url 'export_sales' 'week' %}">Export This Week's Sales</a>
<br>
<a href="{% url 'export_sales' 'month' %}">Export This Month's Sales</a>
<hr>

<a href="/">Back</a>|<a href="new/">Record Sales</a>
{% endblock %}
</body>
